body {
	font-family: Arial, sans-serif;
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 

    
    
}

.body h1 {
	margin: 0;
    text-align: center;
    justify-content: center;
    margin-left: 100;
}

'